<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}SaaS{% endblock head_title %}</title>
    {% comment %} <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"> {% endcomment %}
    {% comment %} {% include 'base/css.html' %} {% endcomment %}
</head>
<body>
    {% comment %} {% include 'nav/navbar.html' %} {% endcomment %}
    {% comment %} {% include 'base/messages.html' with messages=messages %} {% endcomment %}
    {% block content %}
    {% endblock content %}
    {% comment %} {% include 'base/js.html' %} {% endcomment %}
</body>
</html>